      * {
            margin: 0px;
            padding: 0px;
        }

        canvas {
            position: absolute;
            height: 7650px;
        }

        input[type="number"] {
            position: relative;
            margin: 10% 20% 10% 20%;
            width: 60%;
            font-size: 3vmin;
        }
